{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td><a href="{{ path('grupo_show', { 'id': grupo.id }) }}">{{ grupo.id }}</a></td>
                <td>{{ grupo.name }}</td>
                <td>{{ grupo.surname }}</td>
                <td>{{ grupo.city }}</td>                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grupo_show', { 'id': grupo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
