{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grupo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grupo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ grupo.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ grupo.surname }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ grupo.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
