{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        Nombre: {{ form_widget(form.nombre) }}<br>
        Apellido: {{ form_widget(form.apellido) }}<br>
        Ciudad: {{ form_widget(form.ciudad) }}<br>
        Grupos: {{ form_widget(form.grupos) }}<br>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
